<div class="container-fluid" style="margin-top: 5%">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Appeal ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Appeal Type</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appeal of appList">
                <td>
                    <button (click)="selectAppl(appeal)">{{appeal.appealId}}</button>
                </td>
                <td>{{appeal.aplFirstName}}</td>
                <td>{{appeal.aplLastName}}</td>
                <td>{{appeal.type}}</td>
                <td>{{appeal.aplDateofBirth}}</td>
                <td>
                    <button type="button" class="btn btn-outline-primary me-2">Edit</button>
                    <button type="button" class="btn btn-outline-danger me-2">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
     </div>
