<form [formGroup]="appellantForm">
  <div class="row p-1">
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="primaryContact" formControlName="primaryContact">
        <label class="form-check-label">
          Primary Contact
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="inlineFormCustomSelectPref">Person Type</label>
        <select class="form-control" id="inlineFormCustomSelectPref" name="personType" formControlName="personType">
          <option value="Appellant">Appellant</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" name="unableToContact" type="checkbox" formControlName="unableToContact">
        <label class="form-check-label">
          Unable To Contact
        </label>
      </div>
    </div>
    <div class="col-3">
      Number Of Appellant
      <br>
    </div>
  </div>
  <div class="row p-1">
    <div class="col-3">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" formControlName="firstName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control" id="middleName" placeholder="Middle name" formControlName="middleName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" formControlName="lastName">
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="inlineFormCustomSelectPref">Sufix</label>
        <select class="form-control" id="sufix" name="personType" formControlName="sufix">
          <option value="Mr">Mr</option>
          <option value="Mrs">Mrs</option>
          <option value="Miss">Miss</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row p-1">
    <div class="col-3">
      <div class="form-group">
        <label for="Employer">Employer Name</label>
        <input type="text" name="Employer" class="form-control" id="Employer" placeholder="Employer name" formControlName="employerName">
      </div>
    </div>
    <div class="col-3" style="padding: 10px">
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="Employer">Relationship to appellant </label>
        <input type="text" formControlName="relationshipToAppellant" name="Relationship" class="form-control" id="Relationship" placeholder="Relationship">
      </div>
    </div>
  </div>
  <div class="row p-1">
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="signatureIndicator" formControlName="signatureIndicator">
        <label class="form-check-label">
          Signature Indicator
        </label>
      </div>
    </div>
    <div class="col-3" style="padding: 10px">
      <mat-form-field appearance="fill">
        <mat-label>Date of Signature</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="dateSigned">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label for="inlineFormCustomSelectPref">Gender</label>
        <select class="form-control" id="Gender" name="personType" formControlName="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
    </div>
  </div>
  <h4>Address</h4>
  <hr>
  <table class="table">
    <thead>
    <tr>
      <th>Address Type</th>
      <th>Street Address 1</th>
      <th>Street Address 2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
      <th>Zip Code</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let address of addressArray">
      <td>{{address.addressType}}</td>
      <td>{{address.streetAddress1}}</td>
      <td>{{address.streetAddress2}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
      <td>{{address.country}}</td>
      <td>{{address.zipCode}}</td>
    </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary" (click)="addAddress()">Add Address</button>
</form>
<br>
<div class="row p-2">
  <div class="col-4">
    <h3>Telephone Numbers</h3>
    <hr>
    <table class="table">
      <tr>
        <td>Text Preference</td>
        <td>Phone type</td>
        <td>Telephone Number</td>
        <td>Extension</td>
        <td>Action</td>
      </tr>
      <tbody>
      <tr *ngFor="let phone of telePhoneNumbersArray">
        <td>{{phone.textPreference === true ? 'Yes': 'No'}}</td>
        <td>{{phone.phoneType}}</td>
        <td>{{phone.telephoneNumber}}</td>
        <td>{{phone.extension}}</td>
        <td>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="editTelephoneDetails(phone)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteTelephoneNumber(phone)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <div *ngIf="isAddPhone" style="background-color: #85C1E9; padding: 5px;">
      <form [formGroup]="telephoneForm">
        <div class="row">
          <div class="col-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="primaryContact" formControlName="textPreference">
              <label class="form-check-label">
                Text Preference
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="inlineFormCustomSelectPref">Phone type</label>
              <select class="form-control" name="phoneType" formControlName="phoneType">
                <option value="Primary">Primary</option>
                <option value="Home">Home</option>
                <option value="Office">Office</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="Employer">Telephone Number</label>
              <input type="text" name="Employer" formControlName="telephoneNumber" class="form-control"
                     placeholder="Telephone number">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="Employer">Extension</label>
              <input type="text" formControlName="extension" name="Employer" class="form-control"
                     placeholder="Extension">
            </div>
          </div>
        </div>
      </form>
      <button *ngIf="!isUpdatePhone" (click)="saveTelephone()" color="primary" mat-icon-button
              aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="isUpdatePhone" (click)="updateTelephone()" color="accent" mat-icon-button
              aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>update</mat-icon>
      </button>
    </div>
    <br>
    <button (click)="addPhone()" mat-raised-button color="primary">Add Phone</button>
  </div>
  <div class="col-4">
    <h3>Email Address</h3>
    <hr>
    <table class="table">
      <tr>
        <td>Email Preference</td>
        <td>Email type</td>
        <td>Email address</td>
        <td>Action</td>
      </tr>
      <tbody>
      <tr *ngFor="let email of emailArray">
        <td>{{email.emailPreference === true ? 'Yes' : 'No'}}</td>
        <td>{{email.emailType}}</td>
        <td>{{email.emailAddress}}</td>
        <td>
          <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="editEmail(email)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteEmail(email)" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="isAddEmail" style="background-color: #85C1E9; padding: 5px;">
      <form [formGroup]="emailFrom">
        <div class="row">
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="emailPreference" formControlName="emailPreference">
              <label class="form-check-label">
                Email Preference
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="inlineFormCustomSelectPref">Email type</label>
              <select class="form-control" name="personType" formControlName="emailType">
                <option value="Personal">Personal</option>
                <option value="Work">Work</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="lastName">Email Address</label>
              <input type="text" name="lastName" class="form-control" placeholder="Email" formControlName="emailAddress">
            </div>
          </div>
        </div>
      </form>
      <button *ngIf="!isUpdateEmail" (click)="saveEmail()" color="primary" mat-icon-button
              aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="isUpdateEmail" (click)="updateEmail()" color="accent" mat-icon-button
              aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>update</mat-icon>
      </button>
    </div>
    <br>
    <button mat-raised-button color="primary" (click)="addEmail()">Add Email</button>
  </div>
  <div class="col-4">
    <h3>Identification Details</h3>
    <hr>
    <button mat-raised-button color="primary">Add ID</button>
  </div>
</div>
<br>
<button mat-raised-button color="primary" (click)="createAppellant()">Add Appellant</button>

<div class="modal fade" id="newAddress" tabindex="-1" role="dialog" aria-labelledby="OneModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="OneModalLabel">Add Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appellantAddressFrom">
          <div class="row p-1">
            <div class="col-4">
              <div class="form-group">
                <label for="inlineFormCustomSelectPref">Address Type</label>
                <select class="form-control" name="personType" formControlName="addressType">
                  <option value="MA">Mailing Address</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Street Address 1</label>
                <input formControlName="streetAddress1" type="text" name="streetAddress1" class="form-control"
                       placeholder="Enter address line">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Street Address 2</label>
                <input type="text" formControlName="streetAddress2" name="streetAddress2" class="form-control"
                       placeholder="Enter address line">
              </div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-4">
              <div class="form-group">
                <label>City</label>
                <input type="text" formControlName="city" name="city" class="form-control"
                       placeholder="Enter City Name">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Zip Code</label>
                <input type="text" formControlName="zipCode" name="zipCode" class="form-control"
                       placeholder="Enter Zip Code">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>State</label>
                <select class="form-control" name="state" formControlName="state">
                  <ng-container *ngFor="let state of usStates">
                    <option [value]="state.name">{{state.name}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-4">
              <div class="form-group">
                <label>Country</label>
                <select class="form-control" name="country" formControlName="country">
                  <ng-container *ngFor="let country of countryListArray">
                    <option [value]="country.name">{{country.name}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveAddress()">Save Address</button>
      </div>
    </div>
  </div>
</div>

