<h2 mat-dialog-title>Create Appeal</h2>
<mat-dialog-content class="mat-typography" [formGroup]="appealDetails">
    <table class="full-width" cellspacing="0" role="presentation">
        <tr>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="aplFirstName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="aplMiddleName">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="aplLastName">
                </mat-form-field>
            </td>

        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="aplDateofBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Appeal Type</mat-label>
                    <mat-select formControlName="aplType">
                        <mat-option *ngFor="let apltype of apltypes" [value]="apltype.name">
                            {{apltype.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Appeal Sub-Type</mat-label>
              <mat-select formControlName="aplType">
                <mat-option *ngFor="let apltype of apltypes" [value]="apltype.name">
                  {{apltype.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="createappeal()">submit</button>
</mat-dialog-actions>
