<mat-toolbar class="toolbar" role="banner">
    <!-- <button class="circle-link" title="Side menu toggle" (click)="onToolbarMenuToggle()" id="toolbarMenu">
      <mat-icon area-label="Side menu toggle">subject</mat-icon>
    </button> -->
    <span>EACMS - Case Manager</span>
    <span class="spacer"></span>
    <button class="circle-link" title="action menu" [matMenuTriggerFor]="actionMenuOptions">
      <mat-icon aria-label="Action menu">offline_bolt</mat-icon>
    </button>
    <mat-menu #actionMenuOptions="matMenu">
        <button mat-menu-item>
        <span>Inbound Call</span>
      </button>
        <button mat-menu-item>
        <span>Hearing Call</span>
      </button>
        <button mat-menu-item (click)="openCreateAplDialog()">
        <span>Create Appeal</span>
      </button>
        <button mat-menu-item>
        <span>Reopen Case</span>
      </button>
        <button mat-menu-item>
        <span>Update Corr Task</span>
      </button>
        <button mat-menu-item>
        <span>Effectuation Report</span>
      </button>
        <button mat-menu-item>
        <span>MCR Log Report</span>
      </button>
        <button mat-menu-item>
        <span>MCR Search</span>
      </button>
    </mat-menu>
    <input type="search" placeholder="Search" />
    <button class="circle-link" title="volume">
      <mat-icon aria-label="Volume">volume_up</mat-icon>
    </button>
    <button class="circle-link" title="notifications">
      <mat-icon aria-label="Notifications icon">notifications</mat-icon>
    </button >
    <button class="circle-link" title="user" [matMenuTriggerFor]="userMenuOptions" >
      <mat-icon aria-label="User icon">supervised_user_circle</mat-icon>
    </button>
    <mat-menu #userMenuOptions="matMenu">
        <button mat-menu-item>
        <mat-icon>swap_calls</mat-icon>
        <span>Switch apps</span>
      </button>
        <button mat-menu-item>
        <mat-icon>swap_horiz</mat-icon>
        <span>Switch portal</span>
      </button>
        <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>Preferences</span>
      </button>
        <button mat-menu-item>
        <mat-icon>co_present</mat-icon>
        <span>Profile</span>
      </button>
        <button mat-menu-item>
        <mat-icon>rule</mat-icon>
        <span>My rules</span>
      </button>
        <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Reference</span>
      </button>
        <button mat-menu-item>
        <mat-icon>content_paste</mat-icon>
        <span>Clipboard</span>
      </button>
        <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <button class="circle-link" title="help">
      <mat-icon aria-label="Help icon">help</mat-icon>
    </button>

</mat-toolbar>