<br>
<br>
<br>
<div class="appeal-intake">
  <mat-tab-group>
    <mat-tab label="Appeal Information">
      <div class="mycasesaccordian">
        <mat-accordion multi class="mataccordiancases" [formGroup]="appealIntakeDetails">
          <mat-expansion-panel class=mataccordiancasescontent>

            <mat-expansion-panel-header>
              <mat-panel-title> Appeals</mat-panel-title>
            </mat-expansion-panel-header>
            <table class="full-width" cellspacing="0" role="presentation">
              <tr>
                <td>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Intake Type</mat-label>
                    <mat-select formControlName="aplintakeType">
                      <mat-option *ngFor="let intake of intaketypes" [value]="intake.name">
                        {{intake.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>


                <td>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Appeal Receipt Type</mat-label>
                    <mat-select formControlName="aplreceiptType">
                      <mat-option *ngFor="let receipt of receipttypes" [value]="receipt.name">
                        {{receipt.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="fill">
                    <mat-label>Appeal Submitted By</mat-label>
                    <mat-select formControlName="aplsubmittedBy">
                      <mat-option *ngFor="let submitter of submittertypes" [value]="submitter.name">
                        {{submitter.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Pended Reason</mat-label>
                    <mat-select formControlName="pendedReason">
                      <mat-option *ngFor="let reason of pendedReasonTypes" [value]="reason.name">
                        {{reason.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Pended Appeal Request Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="aplRequestDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>
              </tr>

            </table>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Processing Dates</mat-panel-title>
            </mat-expansion-panel-header>
            <p>TODO: Data for CPM Cases </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <!-- #enddocregion hide-toggle -->
            <mat-expansion-panel-header>
              <mat-panel-title> National Disaster</mat-panel-title>
            </mat-expansion-panel-header>
            <p>TODO </p>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Expedite Request</mat-panel-title>
            </mat-expansion-panel-header>
            <p>TODO </p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>

    <mat-tab label="Appellants">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Appellants
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table class="table">
            <thead>
            <tr>
              <th>Person Type</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Relation Ship To Appellant</th>
              <th>Address Type</th>
              <th>Street Address 1</th>
              <th>Street Address 2</th>
              <th>City</th>
              <th>Zip Code</th>
              <th>Country</th>
              <th>State</th>
              <th>Phone</th>
              <th>Signature Indicator</th>
              <th>Date Signed</th>
              <th>Primary Contact</th>
              <th>Unable To Contact</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let row of dataSource; let i = index;">
            <tr (click)="selectAppellant(row)">
              <td>{{row.personType}}</td>
              <td>{{row.firstName}}</td>
              <td>{{row.lastName}}</td>
              <td>{{row.relationShipToAppellant}}</td>
              <td>{{row.address[0]?.addressType}}</td>
              <td>{{row.address[0]?.streetAddress1}}</td>
              <td>{{row.address[0]?.streetAddress2}}</td>
              <td>{{row.address[0]?.city}}</td>
              <td>{{row.address[0]?.zipCode}}</td>
              <td>{{row.address[0]?.country}}</td>
              <td>{{row.address[0]?.state}}</td>
              <td>{{row.telephoneNumbers[0]?.telephoneNumber}}</td>
              <td>{{row.signatureIndicator}}</td>
              <td>{{row.dateSigned}}</td>
              <td>{{row.primaryContact}}</td>
              <td>{{row.unableToContact}}</td>
            </tr>
              <tr *ngIf="selectedIndex === i">
                <td colspan="16">
                  <h4>Appellant Details</h4>
                  <hr>
                  <form>
                  <div class="row p-1">
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="primaryContact" [(ngModel)]="row.primaryContact">
                        <label class="form-check-label">
                          Primary Contact
                        </label>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                      <label for="inlineFormCustomSelectPref">Person Type</label>
                      <select class="form-control" id="inlineFormCustomSelectPref" name="personType" [(ngModel)]="row.personType">
                        <option value="Appellant">Appellant</option>
                      </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-check">
                        <input class="form-check-input" name="unableToContact"  type="checkbox" [(ngModel)]="row.unableToContact">
                        <label class="form-check-label">
                          Unable To Contact
                        </label>
                      </div>
                    </div>
                    <div class="col-3">
                      Number Of Appellant
                      <br>
                      {{i + 1}}
                    </div>
                  </div>
                    <div class="row p-1">
                      <div class="col-3">
                        <div class="form-group">
                          <label for="firstName">First Name</label>
                          <input type="text" name="firstName" [(ngModel)]="row.firstName" class="form-control" id="firstName" placeholder="First name">
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="middleName">Middle Name</label>
                          <input type="text" class="form-control" id="middleName" placeholder="Middle name">
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="lastName">Last Name</label>
                          <input type="text" name="lastName" [(ngModel)]="row.lastName" class="form-control" id="lastName" placeholder="Last name">
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                        <label for="inlineFormCustomSelectPref">Sufix</label>
                        <select class="form-control" id="sufix" name="personType">
                          <option value="Mr">Mr</option>
                          <option value="Mrs">Mrs</option>
                          <option value="Miss">Miss</option>
                        </select>
                        </div>
                      </div>
                    </div>
                    <div class="row p-1">
                      <div class="col-3">
                        <div class="form-group">
                          <label for="Employer">Employer Name</label>
                          <input type="text" name="Employer" class="form-control" id="Employer" placeholder="Employer name">
                        </div>
                      </div>
                      <div class="col-3" style="padding: 10px">
                        <mat-form-field appearance="fill">
                          <mat-label>Date of Birth</mat-label>
                          <input matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="Employer">Relationship to appellant </label>
                          <input type="text" name="Relationship" class="form-control" id="Relationship" placeholder="Relationship">
                        </div>
                      </div>
                    </div>
                    <div class="row p-1">
                      <div class="col-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="primaryContact" [(ngModel)]="row.primaryContact">
                          <label class="form-check-label">
                            Signature Indicator
                          </label>
                        </div>
                      </div>
                      <div class="col-3" style="padding: 10px">
                        <mat-form-field appearance="fill">
                          <mat-label>Date of Signature</mat-label>
                          <input matInput [matDatepicker]="picker1">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <h4>Address</h4>
                    <hr>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Address Type</th>
                        <th>Street Address 1</th>
                        <th>Street Address 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Zip Code</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let address of row.address">
                        <td>{{address.addressType}}</td>
                        <td>{{address.streetAddress1}}</td>
                        <td>{{address.streetAddress2}}</td>
                        <td>{{address.city}}</td>
                        <td>{{address.state}}</td>
                        <td>{{address.country}}</td>
                        <td>{{address.zipCode}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <button mat-raised-button color="primary" (click)="addAddress()">Add Address</button>
                  </form>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
          <button mat-raised-button color="primary" (click)="addAppellantForm()">Add Appellant</button>
          <div *ngIf="isAddAppellant">
            <app-create-appellant (createAppellantInfo)="createAppellant($event)"></app-create-appellant>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
    <mat-tab label="Representatives">
      <p>TODO</p>
    </mat-tab>
    <mat-tab label="Reason for Appeal">
      <p>TODO</p>
    </mat-tab>
  </mat-tab-group>

  <div>
    <button mat-raised-button color="primary"> Submit Appeal</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addAddress" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="appellantAddressFrom">
          <div class="row p-1">
            <div class="col-4">
              <div class="form-group">
                <label for="inlineFormCustomSelectPref">Address Type</label>
                <select class="form-control" id="gender" name="personType" formControlName="addressType">
                  <option value="MA">Mailing Address</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Street Address 1</label>
                <input formControlName="streetAddress1" type="text" name="streetAddress1" class="form-control" placeholder="Enter address line">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Street Address 2</label>
                <input type="text" formControlName="streetAddress2" name="streetAddress2" class="form-control" placeholder="Enter address line">
              </div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-4">
              <div class="form-group">
                <label>City</label>
                <input type="text" formControlName="city" name="city" class="form-control" placeholder="Enter City Name">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Zip Code</label>
                <input type="text" formControlName="zipCode" name="zipCode" class="form-control" placeholder="Enter Zip Code">
              </div>
            </div>
            <div class="col-4"><div class="form-group">
              <label>State</label>
              <select class="form-control" name="state" formControlName="state">
                <ng-container *ngFor="let state of usStates">
                  <option [value]="state.name">{{state.name}}</option>
                </ng-container>
              </select>
            </div>
            </div>
          </div>
          <div class="row p-1">
            <div class="col-4"><div class="form-group">
              <label>Country</label>
              <select class="form-control" name="country" formControlName="country">
                <ng-container *ngFor="let country of countryListArray">
                  <option [value]="country.name">{{country.name}}</option>
                </ng-container>
              </select>
            </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveAddress()">Save Address</button>
      </div>
    </div>
  </div>
</div>
